body {
    background-image: url("https://static.pexels.com/photos/513074/pexels-photo-513074.jpeg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.App {
  text-align: center;
}

.photolist {
  text-align: left;
}

.App-header {
  background-color: #222;
  height: 130px;
  padding: 20px;
  color: white;
  /*font-size: 10em;*/
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

.pagination a:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pagination a:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.centered  {
    display: inline-block  !important;
    vertical-align: middle !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.pagination a.active {
    background-color: #38a59a;
    color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}
